fastapi
uvicorn
python-multipart==0.0.18
jinja2
pydantic
matplotlib
pandas
openpyxl
pyodbc
python-dotenv
apscheduler
email-validator
loguru
reportlab>=4.0.8
fpdf2>=2.8.3
aiohttp
websockets
asyncua>=1.1.0
